
.partner{
	align-items:center;
	display:flex;
	font-size:0.7rem;
	justify-content:center;
	line-height:1.3;
	margin-bottom:0.35em;
	padding:0.3em;
	text-align:center;
}
.partner-has-image{
	align-items:center;
	display:flex;
	margin-bottom:0;
	padding:0;
	position:relative;
}
.partner-has-image .partner-image img{
	/* gets rid of extra whitespace under img */
	display:block;
}
.partner-has-image .partner-text{
	bottom:0;
	font-size:0.7rem;
	height:100%;
	pointer-events:none;
	position:absolute;
	text-align:center;
	width:100%;
}
.partner-has-image .partner-name{
	background:rgba(0,0,0,0.85);
	bottom:-100%;
	border-radius:2px;
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
	display:inline-block;
	color:#fff;
	opacity:0;
	padding:0.25em 0.45em;
	position:relative;
	transition:200ms all;}

.partner-has-image .partner-name::after {
	content:'';
	border-bottom:5px solid rgba(0,0,0,0.85);
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	display:block;
	height:0;
	left:50%;
	margin-left:-5px;
	position:absolute;
	top:-5px;
	width:0;}
/* Make sure tooltips are visible above other partner logos */
.partner-has-image:hover{
	z-index:2;
}
.partner-has-image:hover .partner-name{
	opacity:1;
	bottom:-95%;
}

/* Layouts */
.wp-block-lazyblock-partners-list{
	display:grid;
	grid-gap:1rem;
	grid-template-columns:repeat(auto-fill, minmax(6rem,1fr));
}
